@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply dark:text-[#a6a2a2];
  }
}

@layer base {
  .line {
    @apply dark:border-b-slate-950;
  }
}

@layer base {
  .branch {
    @apply dark:border-b-slate-950;
  }
}

@layer base {
  .select-service {
    @apply dark:border-b-slate-950;
  }
}

@layer base {
  .date-input {
    @apply dark:bg-slate-900;
  }
}

@layer base {
  .select1 {
    @apply dark:bg-slate-900;
  }
}

@layer base {
  .form1 {
    @apply dark:bg-slate-800;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chart {
  width: 100vh;
  height: 300px;
}

.nav-item {
  background-color: white;
}

.service {
  background-color: white;
}

@layer base {
  .service {
    @apply dark:bg-slate-900;
  }
}


.Toastify__toast-container {
  z-index: 9999; /* التأكد أن التوست في الواجهة العلوية */
}

.project1{
  color: black;
}



@layer base {
  .project1 {
    @apply dark:text-white;
  }
}


.select1{
  background-color: white;
}